.App {
  max-width: 80%;
  margin: auto;
  padding: 42px 24px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.StockEventsTable {
  margin: 12px;
  border: solid 2px #eee;
  padding: 24px;
  border-radius: 5px;
}
